<template>
    <div class="home">
        <PageTitle icon="fa fa-home" main="Dashboard" sub="Base de Conhecimento"></PageTitle>

        <div class="stats">
            <Stat title="Categorias" :value="stat.categories" icon="fa fa-folder" color="#228B22"></Stat>
            <Stat title="Artigos" :value="stat.articles" icon="fa fa-file" color="#B22222"></Stat>
            <Stat title="Usuários" :value="stat.users" icon="fa fa-user" color="#1E90FF"></Stat>
        </div>
    
    </div>
</template>

<script>
import axios from 'axios'
import { baseApiUrl } from '@/global'

import PageTitle from '../template/PageTitle'
import Stat from './Stat'

export default {
    name: 'Home',

    components: { PageTitle, Stat },

    data() {
        return {
            stat: {}
        }
    },

    methods: {
        getStats() {
            axios.get(`${baseApiUrl}/stats`)
            .then(res => this.stat = res.data) // Pego a resposta e seto na propriedade stat
        }
    },

    mounted() {
        this.getStats()
    },

}
</script>

<style>
    .stats {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* Quando diminuir a tela ele vai permitir quebrar a linha */
    }
</style>