<template>
  <header class="header">
      <a class="toggle" @click="toggleMenu" v-if="!hideToggle">
          <i class="fa fa-lg" :class="icon"/>
      </a>

      <h1 class="title">
          <router-link to="/">{{ title }}</router-link>
      </h1>
      <UserDropDown v-if="!hideUserDropDown"></UserDropDown>
  </header>
</template>

<script>
import UserDropDown from './UserDropdown'

export default {
    name: 'Header',

    components: { UserDropDown }, // Referencio o componente UserDropDown dentro da propriedade components para que eu possa usar o UserDropDown dentro do template desse componente 

    props: {
        title: String,
        hideToggle: Boolean,
        hideUserDropDown: Boolean
    },

    computed: {
        icon() {
            return this.$store.state.isMenuVisible ? "fa-angle-left" : "fa-angle-right" // Visivel retorna fa-angle-left, não visivel fa-angle-down
        }
    },

    methods: {
        toggleMenu() {
            this.$store.commit('toggleMenu') // Vou chamar a função que está no store.js
        }
    },
}
</script>

<style>
    .header {
        grid-area: header;
        background: linear-gradient(to right, #1e469a, #49a7c1);

        display: flex; /* Com flex os elementos filhos ficam um do lado do outro */
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 100;
        flex-grow: 1;
        text-align: center
    }

    .title a {
        color: #fff;
        text-decoration: none;
    }

    .title a:hover {
        color: #fff;
        text-decoration: none;
    }

    header.header > a.toggle {
        width: 60px;
        height: 100%;
        color: #fff;
        justify-self: flex-start;
        text-decoration: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.header > a.toggle:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
    }
</style>