<template>
  <div class="auth-content">
      <div class="auth-modal">
          <img src="@/assets/logo.png" alt="logo" width="200">
          <hr>

          <div class="auth-title">{{ showSignup ? 'Cadastro' : 'Login'}}</div>
          <input type="text" v-if="showSignup" v-model="user.name" placeholder="Nome">
          <input v-model="user.email" type="text" placeholder="E-mail">
          <input v-model="user.password" type="password" placeholder="Senha">
          <input v-if="showSignup" v-model="user.confirmPassword" type="password" placeholder="Confirme a senha">

          <button v-if="showSignup" @click="signup">Registrar</button>
          <button v-else @click="signin">Entrar</button>

          <a href @click.prevent="showSignup = !showSignup"> <!-- Link para alterar o valor de showSignup, uso prevent para previnir o comportamento padrão de disparar uma ação com o click do link-->
              <span v-if="showSignup">Já tem cadastro? Acesse o Login!</span>
              <span v-else>Não tem cadastro? Registre-se aqui!</span>
          </a>
      </div>

  </div>
</template>

<script>
import { baseApiUrl, userKey } from '@/global'
import axios from 'axios'

export default {
    name: 'Auth',

    data() {
        return {
           showSignup: false,
           user: {} 
        }
    },

    methods: {
        signin() {
            axios.post(`${baseApiUrl}/signin`, this.user)
            .then(res => {
                this.$store.commit('setUser', res.data) // Chamo o setUser do store, pego o resultado da requisição e seto o usuário
                localStorage.setItem(userKey, JSON.stringify(res.data)) // Salvo o objeto que recebi na resposta usando a chave que importei do global e converto para string para persistir no local storage
                this.$router.push({path: '/'}) // Redireciono para o path / (Tela principal)
            })
            .catch("Erro") // Se der erro fico na mesma tela
        },

        signup() {
            axios.post(`${baseApiUrl}/signup`, this.user)
            .then(() => {
                this.$toasted.global.defaultSuccess() // Mostro mensagem de sucesso
                this.user = {} // Deixo user vazio para ficar pronto para fazer o login
                this.showSignup = false // Mudo para tela de login se o cadastro foi feito com sucesso
            })
            .catch("Erro")
        }
    },

}
</script>

<style>
    .auth-content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-modal {
        background-color: #FFF;
        width: 350px;
        padding: 35px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .auth-title {
        font-size: 1.2rem;
        font-weight: 100;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .auth-modal input {
        /*border: 1px solid #BBB;*/
        width: 100%;
        margin-bottom: 15px;
        padding: 3px 8px;
        border: 2px solid #dadada;
        border-radius: 7px;
    }

    input:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }

    .auth-modal button {
        align-self: center;
        background-color: #2460ae;
        color: #FFF;
        padding: 5px 15px;
    }

    .auth-modal a {
        margin-top: 20px;
    }

    .auth-modal hr {
        border: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right,
        rgba(120, 120, 120, 0),
        rgba(120, 120, 120, 0.75),
        rgba(120, 120, 120, 0)
        );
    }
</style>