<template>
	<div id="app" :class="{'hide-menu' : !isMenuVisible || !user}"> <!-- Se o menu não estiver visivel, eu vou aplicar a classe CSS hide-menu -->
		<Header title="Cod3r - Base de Conhecimento" 
			:hideToggle="!user"
			:hideUserDropDown="!user"
		></Header>
		<Menu></Menu>
		<Content></Content>
		<Footer></Footer>		
	</div>
</template>

<script>
import { mapState } from 'vuex'

import Content from '@/components/template/Content' // Uso @ para acessar a raiz que seria a referência para src/
import Footer from '@/components/template/Footer'
import Header from '@/components/template/Header'
import Menu from '@/components/template/Menu'

export default {
	name: "App",

	components: {
		Content, Footer, Header, Menu
	},

	computed: mapState(['isMenuVisible', 'user'])
}
</script>

<style>
	* {
		font-family: "Lato", sans-serif;
	}

	body {
		margin: 0;
	}

	#app {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		height: 100vh;
		display: grid;
		grid-template-rows: 60px 1fr 40px; /* 3 linhas */
		grid-template-columns: 300px 1fr; /* 2 colunas */
		grid-template-areas:
			"header header"
			"menu content"
			"menu footer";
	}

	#app.hide-menu { /* Me dê qualquer elemento que tenha id app e tenha a classe hide-menu */
		grid-template-areas: /* Nesse caso vou definir novas areas de grid */
			"header header"
			"content content"
			"footer footer";
	}
</style>